* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
  background-color: #f3f2f8;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.75);
  display: grid;
  place-items: center;
  height: 70vh;
  overflow: auto;
}

.app > h1 {
  font-size: 3rem;
  padding: 30px;
}

.app_main {
  width: 60%;
  margin: auto;
}

.app_main > ul {
  margin-top: 30px;
}

.app_main > Button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.app_main > ul > li {
  list-style-type: none;
  font-size: 1.3rem;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
