* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  text-align: center;
  background-color: #f3f2f8;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 21px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 21px 0px rgba(10, 10, 10, 0.75);
  /* height: 90vh; */
  background: rgb(235, 133, 133);
  background: linear-gradient(
    45deg,
    rgba(235, 133, 133, 1) 24%,
    rgba(232, 184, 134, 1) 68%
  );
}

.app > h1 {
  font-size: 3rem;
  padding: 30px;
  color: #710561;
}

.app_main {
  width: 60%;
  margin: auto;
}

.app_main_todos {
  margin-bottom: 20px;
}

.app_main > .app_main_todos > ul {
  margin-top: 30px;
  max-height: 55vh;
  overflow: auto;
}

.app_main > .app_main_todos > ul::-webkit-scrollbar {
  background: rgb(129, 5, 167);
  background: linear-gradient(
    0deg,
    rgba(129, 5, 167, 1) 8%,
    rgba(129, 5, 167, 1) 93%
  );
  border-radius: 20px;
  width: 1.2rem;
}

.app_main > .app_main_todos > ul::-webkit-scrollbar-thumb {
  background: rgb(223, 45, 112);
  background: linear-gradient(
    0deg,
    rgba(223, 45, 112, 1) 27%,
    rgba(235, 142, 96, 1) 95%
  );
  border-radius: 20px;
}

.form {
  text-align: center !important;
}

.Input {
  font-size: 1.5rem !important;
  text-align: center !important;
}

.app_main > Button {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  padding: 10px !important;
  background-color: purple !important;
  color: #fff !important;
  font-weight: 700 !important;
  width: 50% !important;
  border-radius: 20px !important;
}

.app_main > .app_main_todos > ul > li {
  list-style-type: none;
  font-size: 1.7rem;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  background: rgb(227, 148, 103);
  background: linear-gradient(
    45deg,
    rgba(227, 148, 103, 1) 37%,
    rgba(168, 26, 147, 1) 69%
  );
  color: #fff;
  font-weight: 900;
}

@media (max-width: 1280px) {
  .app {
    width: 85%;
    margin: auto;
    margin-top: 30px;
  }

  .app > h1 {
    font-size: 3rem;
  }

  .app_main {
    width: 80%;
    margin: auto;
  }

  .app_main > .app_main_todos > ul {
    margin-top: 30px;
    max-height: 55vh;
    overflow: auto;
  }

  .app_main > .app_main_todos > ul::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 500px) {
  .app {
    width: 90%;
    margin: auto;
    margin-top: 30px;
  }

  .app > h1 {
    font-size: 2rem;
  }

  .app_main {
    width: 100%;
    margin: auto;
  }

  .app_main > .app_main_todos > ul > li {
    font-size: 1.3rem;
    margin: 20px;
    border-radius: 20px;
    font-weight: 900;
  }

  .form {
    text-align: center !important;
  }

  .Input {
    font-size: 1.2rem !important;
    text-align: center !important;
  }

  .app_main > Button {
    width: 80% !important;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
